<% layout('/layouts/boilerplate') %>
<h3>Edit your Listing</h3>
<form
  method="POST"
  action="/listing/<%= listing._id %>?_method=PUT"
  novalidate
  class="needs-validation"
  enctype="multipart/form-data"
>
  <div>
    <label for="title" class="form-label">Title</label>
    <input
      name="listing[title]"
      value="<%= listing.title %>"
      type="text"
      class="form-control"
      required
    />
    <div class="invalid-feedback">Please provide a valid title.</div>
  </div>
  <div>
    <label for="description" class="form-label">Description</label>
    <textarea name="listing[description]" class="form-control">
<%= listing.description %></textarea
    >
  </div>
  <div>
    <label for="Image" class="form-label">Upload New Image</label>
    <input name="listing[image]" type="file" class="form-control" />
  </div>
  <div class="mb-3 text-center">
    <label for="image" class="form-label fw-semibold">Current Image</label>
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: transform 0.3s ease;
      "
      onmouseover="this.style.transform='scale(1.05)'"
      onmouseout="this.style.transform='scale(1)'"
    >
      <img
        src="<%= listing.image.url %>"
        alt="Listing Image"
        class="img-fluid"
        style="
          max-height: 200px;
          width: 300px;
          object-fit: cover;
          border-radius: 15px !important;
        "
      />
    </div>
  </div>

  <div>
    <label for="price" class="form-label">Price</label>
    <input
      name="listing[price]"
      value="<%= listing.price %>"
      type="number"
      class="form-control"
      required
    />
    <div class="invalid-feedback">Please provide a valid price.</div>
  </div>
  <div>
    <label for="country" class="form-label">Country</label>

    <input
      name="listing[country]"
      value="<%= listing.country %>"
      type="text"
      class="form-control"
    />
    <div class="invalid-feedback">Please provide a valid country.</div>
  </div>

  <div>
    <label for="location" class="form-label">Location</label>

    <input
      name="listing[location]"
      value="<%= listing.location %>"
      type="text"
      placeholder="Enter Location"
      required
    />
    <div class="invalid-feedback">Please provide a valid location.</div>
  </div>

  <button style="border-radius: 25px; background-color: #333; color: #fff">
    Edit
  </button>
</form>

<script src="/javascript/script.js"></script>
